@import "compass";
#conteanir {
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
}
header {
    position: absolute;
    background: blue;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
}
section {
    height: 500px;
    padding-top: 200px;
    background: yellowgreen;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: green;
}