<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>NouvelleRepresentationServlet</servlet-name>
        <servlet-class>com.theatre.servlets.NouvelleRepresentationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgrammeServlet</servlet-name>
        <servlet-class>com.theatre.servlets.ProgrammeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NouvelleRepresentationServlet</servlet-name>
        <url-pattern>/NouvelleRepresentationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgrammeServlet</servlet-name>
        <url-pattern>/ProgrammeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
