<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>web.theatre.filters.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>nouvelleRepresentation</servlet-name>
        <servlet-class>web.theatre.servlets.NouvelleRepresentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programme</servlet-name>
        <servlet-class>web.theatre.servlets.Programme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Public</servlet-name>
        <servlet-class>web.theatre.servlets.Public</servlet-class>
    </servlet>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/common/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>web.theatre.servlets.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NouveauSpectacle</servlet-name>
        <servlet-class>web.theatre.servlets.NouveauSpectacle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgrammeAdmin</servlet-name>
        <servlet-class>web.theatre.servlets.ProgrammeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RepresentationS</servlet-name>
        <servlet-class>web.theatre.servlets.RepresentationS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserver</servlet-name>
        <servlet-class>web.theatre.servlets.Reserver</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Places</servlet-name>
        <servlet-class>web.theatre.servlets.Places</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Programme</servlet-name>
        <url-pattern>/public/programme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Public</servlet-name>
        <url-pattern>/public/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NouveauSpectacle</servlet-name>
        <url-pattern>/admin/nouveauSpectacle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgrammeAdmin</servlet-name>
        <url-pattern>/admin/programmeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nouvelleRepresentation</servlet-name>
        <url-pattern>/admin/nouvelleRepresentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserver</servlet-name>
        <url-pattern>/public/reserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RepresentationS</servlet-name>
        <url-pattern>/admin/representationS</url-pattern>
        <url-pattern>/public/representationS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Places</servlet-name>
        <url-pattern>/public/places</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--<error-page>
        <error-code>500</error-code>
        <location>/common/500.html</location>
    </error-page>-->
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>
                Entire Application
            </web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrateur</role-name>
        </auth-constraint>
    </security-constraint>
    <!-- Define the Login Configuration for this Application -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>My Club Members-only Area</realm-name>
    </login-config>
</web-app>
