<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>web.theatre.filters.CharsetFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>nouvelleRepresentation</servlet-name>
        <servlet-class>web.theatre.servlets.NouvelleRepresentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Programme</servlet-name>
        <servlet-class>web.theatre.servlets.Programme</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublicServlet</servlet-name>
        <servlet-class>web.theatre.servlets.Public</servlet-class>
    </servlet>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/common/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
    <servlet-mapping>
        <servlet-name>nouvelleRepresentation</servlet-name>
        <url-pattern>/nouvelleRepresentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Programme</servlet-name>
        <url-pattern>/public/programme</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublicServlet</servlet-name>
        <url-pattern>/public/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
