/* 
    Document   : private
    Created on : 17 mars 2014, 19:25:37
    Author     : TOURE
    Description:
        Purpose of the stylesheet follows.
*/
@import url(commun.css);
@import url(form.css);
/* line 11, ../scss/admin.scss */
body {
  overflow-y: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

/* line 17, ../scss/admin.scss */
#contenu {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
}

/* line 23, ../scss/admin.scss */
header {
  background: url(../images/colors/blueNoise.jpg);
  height: 40px;
  border: 1px solid #5c8dc9;
}

/* line 28, ../scss/admin.scss */
.gridLogo {
  line-height: 35px;
  position: absolute;
  z-index: 9999;
}

/* line 33, ../scss/admin.scss */
section {
  position: absolute;
  width: 100%;
  min-height: 100%;
}

/* line 38, ../scss/admin.scss */
section > article {
  position: relative;
  margin-left: 232px;
  height: 560px;
  padding: 5px;
  overflow: auto;
}

/* line 45, ../scss/admin.scss */
#topBar {
  margin-left: 232px;
  border-bottom: 1px solid #cccccc;
  line-height: 33px;
  height: 33px;
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
  position: relative;
  font-size: 11px;
  color: #707070;
  text-shadow: 0 1px 0 #fff;
}

/* line 57, ../scss/admin.scss */
#topBar ul > li {
  float: left;
  position: relative;
  zoom: 1;
  overflow: visible !important;
}

/* line 63, ../scss/admin.scss */
#topBar ul > li > ul {
  background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  position: absolute;
  display: none;
  right: 1px;
  top: 100%;
  z-index: 99;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin: 0 -1px 0 0;
  transition: 1s;
  zoom: 1;
}

/* line 77, ../scss/admin.scss */
#topBar ul > li > ul > li > ul {
  position: absolute;
  right: 100%;
  top: -1px;
}

/* line 82, ../scss/admin.scss */
#topBar li ul > li {
  position: relative;
  border-top: 1px solid #ccc;
}

/* line 86, ../scss/admin.scss */
#topBar li ul > li a {
  width: 170px;
}

/* line 89, ../scss/admin.scss */
#topBar li:hover > ul {
  display: block;
}

/* line 92, ../scss/admin.scss */
#topBar a {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #707070;
  text-shadow: 0 1px 0 #fff;
  padding: 0 12px;
  box-shadow: inset 1px 1px 0 0 #fff;
  zoom: 1;
  transition: all 0.25s ease-in-out;
}

/* line 103, ../scss/admin.scss */
#topBar a:hover {
  background: #f8f8f8;
}

/* line 106, ../scss/admin.scss */
#liens {
  float: left;
  overflow: hidden;
  height: 33px;
}

/* line 111, ../scss/admin.scss */
#liens a {
  border-right: 1px solid #ccc;
}

/* line 114, ../scss/admin.scss */
#userOptions {
  float: right;
}

/* line 117, ../scss/admin.scss */
#userOptions a {
  border-left: 1px solid #ccc;
}

/* line 120, ../scss/admin.scss */
#menuGauche {
  position: absolute;
  float: left;
  width: 230px;
  min-height: 100%;
  border: 1px solid #f5f5f5;
  background: #e5e5e5;
  border-right: 1px solid #ccc;
}

/* line 129, ../scss/admin.scss */
#menu {
  border-bottom: 1px solid #f5f5f5;
}

/* line 132, ../scss/admin.scss */
#menu li a {
  background: url(../images/navBg.png), linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
  line-height: 39px;
  padding-left: 12px;
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: #707070;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #cccccc;
  height: 39px;
  box-shadow: inset 0 1px 0 #eeeeee;
}

/* line 145, ../scss/admin.scss */
#menu li:hover > a {
  background: url(../images/colors/blueNoise.jpg);
  color: #fff;
  text-shadow: none;
  height: 39px;
  margin-top: -2px;
  border-top: 1px solid #5c8dc9;
  border-bottom: 1px solid #5c8dc9;
  border-right: 1px solid #5c8dc9;
  margin-right: -1px;
  margin-left: -1px;
  box-shadow: inset 0 1px 0 #92baeb !important;
  position: relative;
  z-index: 10;
}

/* line 160, ../scss/admin.scss */
#menu li a.titre, #menu > li > a.curent {
  background: url(../images/colors/blueNoise.jpg);
  color: #fff;
  text-shadow: none;
  height: 39px;
  margin-top: -2px;
  border-top: 1px solid #5c8dc9;
  border-bottom: 1px solid #5c8dc9;
  border-right: 1px solid #5c8dc9;
  margin-right: -1px;
  margin-left: -1px;
  box-shadow: inset 0 1px 0 #92baeb !important;
  position: relative;
  cursor: default;
}

/* line 175, ../scss/admin.scss */
#menu ul {
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

/* line 180, ../scss/admin.scss */
#menu li:hover > ul {
  height: 100%;
}

/* line 183, ../scss/admin.scss */
#menu li ul li a {
  background: linear-gradient(to bottom, #f8f8f8 0%, #eaeaea 100%);
  box-shadow: inset 0 1px 0 0 #fff, 0 1px 0 0 #fff;
  font-size: 11px;
  padding-left: 20px;
  height: 32px;
  line-height: 32px;
  padding-top: 1px;
  font-weight: normal;
}

/* line 193, ../scss/admin.scss */
#menu li ul li a:hover {
  background: linear-gradient(to top, #f8f8f8 0%, #eaeaea 100%);
  color: #707070;
  box-shadow: inset 1px 1px 1px 0 #ccc, 0 1px 0 0 #ccc !important;
  font-size: 11px;
  padding-left: 15px;
  height: 32px;
  line-height: 32px;
  padding-top: 1px;
  font-weight: normal;
  border: none;
}

/* line 205, ../scss/admin.scss */
.diviser {
  margin: 25px 10px;
  height: 3px;
  display: block;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: inset 0 1px 0 #f5f5f5, 0 1px 0 #f5f5f5;
  position: relative;
}

/* line 214, ../scss/admin.scss */
.diviser div {
  display: block;
  width: 40px;
  height: 10px;
  position: absolute;
  margin-left: -20px;
  left: 50%;
  top: -4px;
}

/* line 223, ../scss/admin.scss */
aside .diviser div {
  background: #e5e5e5;
}

/* line 226, ../scss/admin.scss */
article .diviser div {
  background: url("../images/patterns/pattern01.png");
}

/* line 229, ../scss/admin.scss */
.diviser > div span {
  display: block;
  width: 28px;
  height: 8px;
  border: 1px solid #ccc;
  margin-top: 1px;
  margin-left: 5px;
  box-shadow: inset 0 1px 0 #f5f5f5, 0 1px 0 #f5f5f5;
}

/* line 238, ../scss/admin.scss */
.fond {
  position: relative;
  font: 14px "Century Gothic";
  background: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 2px #A8A8A8;
  margin: auto;
  padding: 20px;
  width: 1010px;
}

/* line 249, ../scss/admin.scss */
.fond > div, .creationSide > div {
  display: inline-block;
  vertical-align: top;
  background: url(../images/bg_header.png);
  border: 1px solid #EDEDED;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 1px #EDEDED;
  margin-left: 5px;
  width: 580px;
  padding: 20px;
}

/* line 260, ../scss/admin.scss */
.creationSide > div {
  width: 330px;
  margin: 0 0 10px 0 !important;
}

/* line 264, ../scss/admin.scss */
.creationSide {
  box-shadow: 0 0 0 #fff !important;
  width: 330px !important;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  clear: both;
}

/* line 272, ../scss/admin.scss */
#filelist {
  height: 410px;
}

/* line 275, ../scss/admin.scss */
#previewImage {
  line-height: 320px;
  max-height: 333px;
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  color: #777;
  font-size: 20px;
  font-weight: bold;
}

/* line 285, ../scss/admin.scss */
#previewImage img {
  vertical-align: middle;
  max-height: 320px;
  max-width: 320px;
}

/* line 290, ../scss/admin.scss */
#droparea {
  border: 4px dashed #aaa;
  height: 200px;
  text-align: center;
  color: #777;
  margin-bottom: 10px;
}

/* line 297, ../scss/admin.scss */
#droparea.hover {
  border-color: #83b4d8;
  background: #DFEDF7;
}

/* line 301, ../scss/admin.scss */
#droparea p {
  margin: 0;
  padding: 60px 0 0 0;
  font-size: 20px;
  font-weight: bold;
}

/* line 307, ../scss/admin.scss */
.progressBar {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 83%;
  padding: 1px;
  background: #abb2bc;
  border-radius: 20px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* line 317, ../scss/admin.scss */
.progress {
  position: relative;
  width: 100%;
  height: 80%;
  border: 1px solid #5c8dc9;
  border-radius: 20px;
  background-color: #6188F5;
  background-repeat: repeat-x;
  background-size: 16px 8px;
  background-image: linear-gradient(315deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 33%, rgba(0, 0, 0, 0.12) 33%, rgba(0, 0, 0, 0.12) 66%, rgba(0, 0, 0, 0) 66%, rgba(0, 0, 0, 0));
  -webkit-animation: progress 2s linear infinite;
}

@-webkit-keyframes progress {
  /* line 330, ../scss/admin.scss */
  from {
    background-position: 0 0;
  }

  /* line 331, ../scss/admin.scss */
  to {
    background-position: 45px 0;
  }
}

/* line 333, ../scss/admin.scss */
#percent {
  display: inline-block;
  width: 15%;
  overflow: hidden;
  text-align: right;
  font-weight: bold;
}

/* line 340, ../scss/admin.scss */
#browse {
  position: relative;
  right: 7px;
  padding: 2px;
  margin: 5px;
  width: 65px;
  cursor: pointer;
  border-radius: 20px;
}

/* line 349, ../scss/admin.scss */
#browse:before {
  content: 'Parcourir';
  width: 130%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 20px;
  background: linear-gradient(to bottom, #f0f0f0 0%, #cacaca 100%);
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 2px;
  border-radius: 20px;
  box-shadow: inset 0 1px 0 #fff, 0 1px 0 #fff;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

/* line 367, ../scss/admin.scss */
#browse:active:before {
  background: linear-gradient(to bottom, #eaeaea 0%, #f8f8f8 100%);
}

/* line 370, ../scss/admin.scss */
#creationForm .formLabel {
  width: 160px;
}

/* line 373, ../scss/admin.scss */
.date {
  width: 145px;
  text-align: right;
}

/* line 377, ../scss/admin.scss */
.products_list {
  width: auto;
}

/* line 380, ../scss/admin.scss */
.products_list article {
  width: 1000px;
  position: relative;
}
/* line 383, ../scss/admin.scss */
.products_list article .representations {
  display: inline-block;
  width: 100%;
  margin: 0;
}
/* line 387, ../scss/admin.scss */
.products_list article .representations .representation {
  border: 1px solid #ededed;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 5px 2px #a8a8a8;
  -moz-box-shadow: 0px 0px 5px 2px #a8a8a8;
  box-shadow: 0px 0px 5px 2px #a8a8a8;
  margin: 5px;
}

/* line 396, ../scss/admin.scss */
.products_list article .entry_content .actions,
.products_list article .entry_content .title {
  display: inline-block;
}

/* line 399, ../scss/admin.scss */
.products_list article .entry_content .actions {
  position: absolute;
  right: 20px;
}

/* line 403, ../scss/admin.scss */
.products_list article .entry_content p {
  height: 50px;
  overflow-y: auto;
}

/* line 407, ../scss/admin.scss */
.products_list article .grid_6 {
  width: 790px;
}

/* line 410, ../scss/admin.scss */
.notifications {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
}

/* line 418, ../scss/admin.scss */
.notification {
  display: inline-block;
  border: 1px solid #F0C36D;
  background: #F9EDBE;
  padding: 0 10px;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 30px;
  line-height: 25px;
  font-size: 14px;
}

/* line 429, ../scss/admin.scss */
.home:before {
  content: '\e001';
  font-size: 18px;
  margin: 0;
  line-height: 1.8;
}

/* line 435, ../scss/admin.scss */
.show:before {
  content: '\e014';
  margin: 0 5px 0 -5px;
}

/* line 439, ../scss/admin.scss */
.edit:before {
  content: '\e0c9';
  margin: 0 5px 0 -5px;
}

/* line 443, ../scss/admin.scss */
.delete:before {
  content: '\e1a1';
  margin: 0 5px 0 -5px;
}

/* line 447, ../scss/admin.scss */
.menu:before {
  content: '\e237';
}

/* line 450, ../scss/admin.scss */
.depots:before {
  content: '\e307';
}

/* line 453, ../scss/admin.scss */
.creation:before {
  content: '\e0bc';
}
