/* 
    Document   : form
    Created on : 4 mars 2014, 20:07:49
    Author     : TOURE
    Description:
        Purpose of the stylesheet follows.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\000039}}
.formLabel {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  margin: 5px;
  text-align: right;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000317}}
input[type="text"], input[type="password"], input[type="email"], textarea {
  font-family: "Century Gothic";
  width: 200px;
  margin: 5px 0;
  padding: 3px 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #CCC; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000326}}
select {
  font-family: "Century Gothic";
  margin: 2px;
  padding: 3px 5px;
  outline: none;
  border-radius: 2px;
  border: 1px solid #CCC; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000334}}
textarea {
  max-width: 350px;
  min-width: 350px;
  height: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000339}}
.fond input[type="text"] {
  width: 350px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000342}}
input:required, textarea:required {
  background: white url("../images/asterisk.png") 99% center no-repeat; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000345}}
input:required:hover {
  border-color: rgba(82, 168, 246, 0.75);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.5); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000349}}
input:required:focus:valid, textarea:required:focus:valid, .correct {
  background-image: none;
  border-color: #56c93f;
  box-shadow: 0 0 8px #56c93f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000354}}
input:required:focus, textarea:required:focus {
  background-image: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000357}}
input:required:focus:invalid, textarea:required:focus:invalid, .incorrect {
  border-color: #d45252;
  box-shadow: 0 0 5px #d45252;
  background-color: #fce6e6; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000362}}
.incorrect {
  border-color: #d45252 !important;
  box-shadow: 0 0 5px #d45252 !important;
  background-color: #fce6e6 !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000367}}
input:required:valid, textarea:required:valid {
  background-image: none;
  background-color: #e7fce1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000371}}
.datepicker {
  width: 75px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000374}}
.condition {
  margin: 10px 0 10px 200px;
  font-size: small; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/toure\/NetBeansProjects\/Theatre\/web\/scss\/form\.scss}line{font-family:\0000378}}
#prix {
  content: 'lol';
  text-align: right;
  width: 150px;
  padding-right: 15px; }
