@import url(commun.css);
/* line 3, ../scss/public.scss */
body {
  margin: 0 auto;
  color: #444;
  background: #fff;
  font: normal 13px/20px 'PT Sans', Arial, Verdana, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 11, ../scss/public.scss */
#top {
  background: #333;
  height: 35px;
  /* min-width: 1346px; */
}

/* line 16, ../scss/public.scss */
#top ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 21, ../scss/public.scss */
#top nav {
  float: right;
  font: bold 11px/35px 'PT Sans', Arial, Verdana, sans-serif;
  margin: 0px -14px 0 0;
}

/* line 26, ../scss/public.scss */
#top nav ul {
  list-style: none;
}

/* line 29, ../scss/public.scss */
#top nav ul li {
  float: left;
  height: 35px;
}

/* line 33, ../scss/public.scss */
#top nav ul li a {
  color: #999;
  float: left;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 14px;
  position: relative;
  z-index: 1000;
}

/* line 43, ../scss/public.scss */
#top nav ul li.current a {
  background: #414141 !important;
  color: #ddd;
}

/* line 47, ../scss/public.scss */
#top nav ul li a:hover {
  background: #222;
  position: relative;
  text-decoration: none;
}

/*----------------------- Header--------------------------- */
/* line 53, ../scss/public.scss */
header {
  background: url(../images/patterns/pattern07.png) repeat center top;
  height: 170px;
  margin: auto;
  overflow: visible;
  /* min-width: 1346px; */
  border-bottom: 1px solid #CCC;
}

/* line 61, ../scss/public.scss */
header ul {
  list-style: none;
  padding: 0;
}

/* line 65, ../scss/public.scss */
hgroup {
  margin: 10px 0 0 0;
  text-align: center;
  width: 155px;
}

/* line 70, ../scss/public.scss */
.top_header {
  border-bottom: 1px solid #aaa;
  height: 86px;
  margin: 0;
}
/* line 74, ../scss/public.scss */
.top_header #cart {
  position: fixed;
  right: 0;
  width: 50px;
  height: 50px;
  background: black;
  top: 130px;
  z-index: 10000;
}

/* line 84, ../scss/public.scss */
.welcome {
  color: #777;
  float: left;
  font: normal 13px/20px 'PT Sans', Arial, Verdana, sans-serif;
  margin: 35px 0 0 0;
}

/* line 90, ../scss/public.scss */
.welcome a {
  color: #222;
}

/* Search */
/* line 94, ../scss/public.scss */
form.search {
  float: right;
  margin: 23px 0 0 0;
  position: relative;
}

/* line 99, ../scss/public.scss */
form.search .search_form {
  background: #fff;
  border: 1px solid #bac4da;
  box-shadow: 0px 0px 4px #bac4da;
  border-radius: 19px;
  color: #777;
  font: normal 13px 'PT Sans', Arial, Verdana, sans-serif;
  height: 36px;
  padding: 0 19px 0 16px;
  margin: 0;
  width: 200px;
  transition: 1s;
}

/* line 112, ../scss/public.scss */
form.search:hover input.search_form {
  border: 1px solid #f8cac0;
  box-shadow: 0px 0px 4px #f8cac0;
  outline: none;
}

/* line 117, ../scss/public.scss */
form.search input.search_form:focus {
  border: 1px solid #dbdee2;
  border-top: 1px solid #cbd0d6;
  border-bottom: 1px solid #eaecef;
  box-shadow: inset 1px 3px 4px #cbd0d6;
  outline: none;
  width: 400px;
}

/* line 125, ../scss/public.scss */
form.search input.search_form:focus + .search_button {
  background: url(../images/bg_search.png) no-repeat right center;
  border: 0 none;
  box-shadow: 0 0 0 #fff;
  outline: none;
}

/* line 131, ../scss/public.scss */
form.search .search_button {
  background: url(../images/bg_search.png) no-repeat left center;
  border: 0 none;
  height: 38px;
  margin: 0 0 0 168px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 38px;
}

/* line 144, ../scss/public.scss */
form.search .search_button:hover,
form.search:hover .search_button {
  background: url(../images/bg_search.png) no-repeat right center;
  border: 0 none;
  box-shadow: 0 0 0 #fff;
  outline: none;
  cursor: pointer;
}

/* Nav primary */
/* line 152, ../scss/public.scss */
.primary {
  margin: 9px 0 0 -15px;
  position: relative;
}

/* line 156, ../scss/public.scss */
.primary ul li {
  float: left;
  position: relative;
}

/* line 160, ../scss/public.scss */
.primary ul li a {
  background: #ccc;
  border-radius: 19px;
  color: #444;
  float: left;
  font: bold 13px/38px 'PT Sans', Arial, Verdana, sans-serif;
  height: 38px;
  padding: 0 15px;
  text-transform: uppercase;
}

/* line 171, ../scss/public.scss */
.primary ul li a:hover,
.primary ul li:hover a {
  background: #eb6447;
  border-radius: 19px;
  color: #fff;
  text-decoration: none;
}

/* line 177, ../scss/public.scss */
.primary ul li:hover ul {
  display: block;
}

/* line 180, ../scss/public.scss */
.primary ul li.curent a {
  background: #444;
  color: #f5f5f5;
}

/* line 184, ../scss/public.scss */
.primary ul ul.sub {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 5px 1px #e0e0e0;
  display: none;
  left: 0;
  padding: 3px 0;
  position: absolute;
  top: 38px;
  z-index: 999;
}

/* line 195, ../scss/public.scss */
.primary ul ul.sub li a {
  background: #fff;
  border: 0 none;
  border-radius: 0;
  color: #444;
  font: normal 12px/35px 'PT Sans', Arial, Verdana, sans-serif;
  height: 35px;
  padding: 0 15px;
  text-transform: uppercase;
  width: 185px;
}

/* line 206, ../scss/public.scss */
.primary ul ul.sub li a:hover {
  background: #f5f7f9;
  border-radius: 0;
  color: #ec6f54;
  margin: 0 3px;
  padding: 0 11px;
  width: 187px;
}

/* line 214, ../scss/public.scss */
section {
  padding: 10px;
  background: url(../images/patterns/pattern03.png);
}

/* Featured Products */
/* line 219, ../scss/public.scss */
.product-title {
  border-bottom: 1px solid #e0e0e0;
  font: normal 20px/20px 'PT Sans', Arial, Verdana, sans-serif;
  padding: 0 0 20px 0;
  text-transform: uppercase;
}

/* line 225, ../scss/public.scss */
.spectacles {
  padding: 40px 0 30px 0;
  display: block;
}
/* line 228, ../scss/public.scss */
.spectacles .fold {
  display: inline-block;
  position: relative;
  height: 210px;
  width: 290px;
  margin-bottom: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px black;
  -moz-box-shadow: 0 0 1px black;
  box-shadow: 0 0 1px black;
  background: #444;
}
/* line 239, ../scss/public.scss */
.spectacles .fold .menu {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 55px;
}
/* line 244, ../scss/public.scss */
.spectacles .fold .menu span {
  display: inline-block;
  margin: 5px;
  height: 45px;
  width: 45px;
  background: #555;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
/* line 253, ../scss/public.scss */
.spectacles .fold .menu span:before {
  font-size: 26px;
  position: absolute;
}
/* line 258, ../scss/public.scss */
.spectacles .fold .menu .info:before {
  content: '\e2e0';
  margin: 6px -5px;
  color: #fff;
}
/* line 263, ../scss/public.scss */
.spectacles .fold .menu .addCart:before {
  content: '\e0c0';
  margin: 6px -12px;
  color: #fff;
}
/* line 269, ../scss/public.scss */
.spectacles .fold .titre {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -35px;
  text-align: center;
}
/* line 273, ../scss/public.scss */
.spectacles .fold .titre h2 {
  display: inline-block;
  min-width: 150px;
  margin: auto;
  padding: 5px 10px;
  background: #444;
  color: #FFF;
  font-size: small;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
/* line 284, ../scss/public.scss */
.spectacles .fold div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50%;
  overflow: hidden;
}
/* line 289, ../scss/public.scss */
.spectacles .fold .top .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6) inset;
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6) inset;
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6) inset;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 295, ../scss/public.scss */
.spectacles .fold .top img {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
/* line 298, ../scss/public.scss */
.spectacles .fold .bot img {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 301, ../scss/public.scss */
.spectacles .fold .bot {
  bottom: 0;
  top: 50%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: perspective(700px) rotateX(0);
  -moz-transform: perspective(700px) rotateX(0);
  -ms-transform: perspective(700px) rotateX(0);
  -o-transform: perspective(700px) rotateX(0);
  transform: perspective(700px) rotateX(0);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
}
/* line 306, ../scss/public.scss */
.spectacles .fold .bot img {
  margin-top: -105px;
}
/* line 309, ../scss/public.scss */
.spectacles .fold .bot .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
  transition: all 1s cubic-bezier(0.075, 0.45, 0.155, 1);
}
/* line 317, ../scss/public.scss */
.spectacles .fold img {
  height: 210px;
  width: 290px;
}
/* line 321, ../scss/public.scss */
.spectacles .fold:hover .bot {
  -webkit-transform: perspective(700px) rotateX(65deg);
  -moz-transform: perspective(700px) rotateX(65deg);
  -ms-transform: perspective(700px) rotateX(65deg);
  -o-transform: perspective(700px) rotateX(65deg);
  transform: perspective(700px) rotateX(65deg);
}
/* line 323, ../scss/public.scss */
.spectacles .fold:hover .bot .shadow {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Slider */
/* line 330, ../scss/public.scss */
#slider {
  background: url("../images/salle_theatre.jpg") 20%;
  display: block;
  width: 1000px;
  height: 400px;
  background-size: 1000px 400px;
  background-repeat: no-repeat;
  margin: auto;
}

/* line 340, ../scss/public.scss */
#content {
  display: inline-block;
  width: inherit;
}

/* line 341, ../scss/public.scss */
#content .grid_12 {
  width: 100%;
}

/* line 342, ../scss/public.scss */
input {
  outline: none;
}

/* Representations */
/* line 345, ../scss/public.scss */
.representations {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 33%;
  overflow-y: auto;
  background: #fff;
}
/* line 352, ../scss/public.scss */
.representations .representation {
  border: 1px solid #ededed;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0px 0px 5px 2px #a8a8a8;
  -moz-box-shadow: 0px 0px 5px 2px #a8a8a8;
  box-shadow: 0px 0px 5px 2px #a8a8a8;
  margin: 5px;
  padding: 5px;
}

/* Form */
/* line 361, ../scss/public.scss */
.registration {
  font: 14px "Century Gothic";
  background: #FFF;
  border: 1px solid #EDEDED;
  border-radius: 1px;
  box-shadow: 0px 0px 5px 2px #A8A8A8;
  margin: auto;
  padding: 20px;
  width: 1100px;
}

/* line 371, ../scss/public.scss */
.registed {
  display: inline-block;
  vertical-align: top;
  background: url(../images/bg_header.png);
  border: 1px solid #EDEDED;
  border-radius: 2px;
  box-shadow: 0px 1px 3px 1px #EDEDED;
  margin-left: 5px;
  width: 500px;
  padding: 20px;
}

/* line 382, ../scss/public.scss */
.captcha {
  display: inline-block;
  text-align: center;
  margin: 10px auto auto 185px;
}

/*****************************************************************************
  Footer
*******************************************************************************/
/* line 390, ../scss/public.scss */
footer ul {
  padding: 0;
}

/* line 393, ../scss/public.scss */
.footer_navigation {
  background: url(../images/bg_header.png) repeat center top;
  border-top: 1px solid #c5c5c5;
  border-bottom: 1px solid #c5c5c5;
  height: 296px;
  padding: 60px 0 0 0;
}

/* line 400, ../scss/public.scss */
.footer_navigation .grid_3 {
  height: 178px;
}

/* line 403, ../scss/public.scss */
.footer_navigation h3 {
  border-bottom: 1px solid #c5c5c5;
  font: normal 18px/18px 'PT Sans', Arial, Verdana, sans-serif;
  margin: 0 0 22px 0;
  padding: 0 0 10px 0;
  text-transform: uppercase;
}

/* line 410, ../scss/public.scss */
ul.f_contact li {
  background: url(../images/li_adr.png) no-repeat 3px 50%;
  color: #707070;
  font: 13px/24px 'PT Sans', Arial, Verdana, sans-serif;
  height: 24px;
  list-style: none;
  margin: 0 0 5px 0;
  padding: 0 0 0 25px;
}

/* line 420, ../scss/public.scss */
ul.f_contact li + li {
  background: url(../images/li_phone.png) no-repeat 0px 50%;
}

/* line 423, ../scss/public.scss */
ul.f_contact li + li + li {
  background: url(../images/li_let.png) no-repeat 0px 50%;
}

/* line 427, ../scss/public.scss */
.footer_navigation nav.f_menu ul {
  list-style: none;
}

/* line 430, ../scss/public.scss */
.footer_navigation nav.f_menu ul a {
  color: #707070;
  font: 13px/24px 'PT Sans', Arial, Verdana, sans-serif;
}

/* line 434, ../scss/public.scss */
.footer_navigation nav.f_menu ul a:hover {
  color: #444;
  text-decoration: underline;
}

/* line 438, ../scss/public.scss */
.footer_navigation .payments-socials {
  display: inline-block;
  background: #fff;
  height: 77px;
  width: 1240px;
  margin: 0;
  padding: 0 12px;
}

/* line 446, ../scss/public.scss */
.footer_navigation .payments {
  float: left;
  padding: 22px 0 0 24px;
}

/* line 450, ../scss/public.scss */
.footer_info {
  background: url(../images/bg_line.png) repeat center top;
  height: 70px;
}

/* line 454, ../scss/public.scss */
.footer_info p.copyright {
  color: #999;
  font: 12px/70px 'PT Sans', Arial, Verdana, sans-serif;
  margin: 0;
}

/* line 459, ../scss/public.scss */
.soc {
  margin: 19px 0 0 0;
}

/* line 462, ../scss/public.scss */
.soc a {
  background-image: url(../images/bg_soc.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  float: right;
  height: 31px;
  margin: 0 0 0 8px;
  opacity: .85;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
  width: 31px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

/* line 475, ../scss/public.scss */
.soc a.facebook {
  background-position: 0 0;
}

/* line 478, ../scss/public.scss */
.soc a.twitter {
  background-position: -31px 0;
}

/* line 481, ../scss/public.scss */
.soc a.google {
  background-position: -62px 0;
}

/* line 486, ../scss/public.scss */
.soc a:hover.facebook,
.soc a:hover.twitter,
.soc a:hover.google {
  opacity: 1;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}
